.post{
    padding-top: 5vh;
    padding-bottom: 15vh;
    margin-left: 0% !important;
    min-height: 92vh;
    color: var(--contrast2);
  }
  .post-image{
    margin-bottom: 2vh;
  }
  .post-image img{
      max-width: 100%;
  }
  @media only screen and (max-width: 576px) {
    .post-image img{
        max-width: 90%;
    }
  }
  .post-heading{
    font-size: 3rem;
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    max-width: 100%;
    color: var(--contrast);
  }
  .post-content{
    margin-top: 2vh !important;
    max-width: 100%;
    font-size: 1.1rem;
    font-family: var(--font-text);
    font-weight: var(--font-weight-content);
  }