.projectsPanel{
    display: flex;
}
.projectCard{
    margin-right: 2vh;
    margin-bottom: 2vh;
    height: auto;
    width: 400px !important;
    border-color: var(--contrast) !important;
    background-color: var(--background) !important;
    border-width: 2.5px !important;
}
.projectTitle{
    font-family: var(--font-heading) !important;
    font-size: 1.2rem !important;
    font-weight: var(--font-weight-heading) !important;
    color: var(--contrast);
}
.projectDesc{
    font-family: var(--font-text) !important;
    color: var(--contrast2);
    font-size: 1.1rem !important;
    margin-top: 1vh !important;
    height: 8vh !important;
}
.projectTechs{
    align-self: end !important;
    font-family: var(--font-text) !important;
    color: var(--contrast2);
    font-size: 1.1rem !important;
    margin-top: 4vh !important;
    font-style: italic;
}
.projectLinks{
    margin-top: 0.5vh !important;
}
.fa {
    margin-right: 10px;
}
.MuiCardContent-root{
    padding: 20px !important;
}
@media only screen and (max-width: 1200px) {
    .projectDesc{
        height: 100px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .projectsPanel{
        display: block;
    }
    .projectCard{
        width: inherit;
        margin-bottom: 2vh;
        height: auto;
    }
}