.home{
    padding-top: 35vh;
    padding-bottom:40vh;
    margin-left: 0% !important;
    color: var(--contrast2);
}
.heading{
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-heading);
    max-width: 100vw;
    text-transform: uppercase;
}
.subheading{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-heading);
    max-width: 65%;
}
.name{
    color: var(--contrast);
    font-weight: 600;
    text-shadow: 3px 3px var(--contrast1);
}
@media only screen and (max-width: 768px) {
    .heading{
        margin-left: 5% !important;
    }
    .subheading{
        margin-left: 5% !important;
    }
    .home{
        padding-top: 10vh;
        padding-bottom: 0vh;
    }
}